{% extends 'newmelo_app/hq.html' %}

{% block content %}

<div container="dedicationcontainer">
Welcome to asylum, your antisocial sanctuary. asylum is a community of free expression built from the ashes of Melodramatic.com.
This website is dedicated to four individuals who have touched my life and inspired my work:
<p>Sara Sioux, my mentor and the creator of Melodramatic.com,</p>
<p>Nicolas Sveen, my fallen Prince,</p>
<p>Josh Tilton, my sour pickle, and</p>
<p>Justin Castilla, the person who believed in me when I needed it the most.</p>
</div>
<div container="toscontainer">
TOS:

<li>1) NO HATE SPEECH. While we value free expression and creativity, there is a zero tolerance policy for Nazis, racism, xenophobia, sexism, transphobia, or anything resembling true hatred. If there is a dispute mysef and my moderators are the final judges. Idgaf, this is my website, not yours.</li>
<li>2) I will write these later, I am just testing things.</li>
</div>

{% endblock %}
