{% extends 'newmelo_app/hq.html' %}

{% block content %}
<div class="aboutpage">
<div class="dedicationcontainer">
<span>welcome to asylum, your antisocial sanctuary. asylum is a community for self expression, open communication and ultimate personal freedom built from the ashes of Melodramatic.com.
this website is dedicated to four individuals who have touched my life and inspired my work:<p>
<ul>Sara Sioux, my mentor and the creator of Melodramatic.com,</ul>
<ul>Nicolas Sveen, my fallen prince,</ul>
<ul>Josh Tilton, my sour pickle, and</ul>
<ul>Justin Castilla, the person who believed in me when i needed it the most.</ul></span>
</div>
<div class="toscontainer"><span>
Terms of Service:
<ol>1) NO HATE SPEECH OR HARASSMENT TOLERATED. While we value freedom, there is a zero tolerance policy for Nazis, racism, xenophobia, sexism, transphobia, harassment, or anything resembling hatred. if there is a dispute myself and my moderators are the final judges. idgaf, this is my website, not yours.</ol>
<ol>2) I will write these later, I am just testing things.</ol></span>
</div>
</div>
{% endblock %}
