{% extends 'newmelo_app/hq.html' %}

{% block content %}

<div container="dedicationcontainer">
Welcome to version 2.0, a community of free expression built from the ashes of Melodramatic.com. This website is dedicated to Sara Sioux, my mentor and the creator of Melodramatic.com, Nicolas Sveen, one of the purest souls I ever knew to walk this Earth, and Justin Castilla, the person who believed in me when I needed it the most.

<div container="toscontainer">
TOS:

1) NO HATE SPEECH. While we value free expression and creativity, there is a zero tolerance policy for Nazis, racism, xenophobia, sexism, transphobia, or anything resembling true hatred. If there is a dispute mysef and my moderators are the final judges. Idgaf, this is my website, not yours.
2) I will write these later, I am just testing things.


{% endblock %}
