{% extends 'newmelo_app/hq.html' %}

{% block content %}

<div class="frontpage">
  <div class="fpp">
      <div class="fppheader">
        <h1>for those who seek asylum</h1></div>
        <div class="fppost">
          <p>this is where i am going to put the front page post for the site of my dreams,
            but i can't really write that all out right now so i'm just gonna write some fake ass words, i love code, i love melo, i love my family, i am tired, i need a nap.
          </p>
        </div>
        </div>
  <div class="fpa">
      <img src="https://i.kinja-img.com/gawker-media/image/upload/s--T3z7mIcc--/c_scale,f_auto,fl_progressive,q_80,w_800/hnvh4srcpd9yf5raivj0.jpg" width="650" height="auto">
  </div>
</div>

{% endblock %}
