{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static './css/main.css' %}">
    <title>v2.0</title>
  </head>
  <body>
    <h1>version 2.0</h1>
    <nav class="mainlinks">
      <a href="{% url 'hq' %}">hq</a>
      <a href="{% url 'switchboard' %}">switchboard</a>
      <a href="{% url 'journal' %}">journal</a>
      <a href="{% url 'newentry' %}">new entry</a>
      <a href="{% url 'about' %}">about</a>
    </nav>
    <nav class="loginlinks">
    {% if not user.is_authenticated %}
      <a href="{% url 'login' %}">Log In</a>
      <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    {% if user.is_authenticated %}
      <div class="login-form">
        <a href="{% url 'logout' %}">Logout</a>
      </div>
    {% endif %}
  </nav>
<div container="frontpagewelcome">
  {% if user.is_authenticated %}
          welcome home {{ user.username }}
      {% endif %}
  </div>
  <!-- <body>
  	{% if user.is_authenticated %}
  			<p>
  			    you're home.
  			</p>
  	{% endif %} -->

  	{% if not user.is_authenticated %}
  			<p>
  				create an account or sign in to join the madness
  			</p>
  	{% endif %}
    {% block content %}

    {% endblock %}
  <footer> 2018 // teri london // version 2.0</footer>
  </body>
</html>
