{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css"> -->
    <link rel="stylesheet" href="{% static './css/semantic.css' %}">
    <link rel="stylesheet" href="{% static './css/main.css' %}">
    <title>v2.0</title>
  </head>
  <body>
    <header class="mainheader">
    <h1>asylum</h1>
    <!-- <p><h3>your antisocial sanctuary<h3> -->
  </header>
  <div class="background">
    <nav class="fullnav">
    <nav class="mainlinks">
      <a href="{% url 'frontpage' %}">hq</a>
      <a href="{% url 'about' %}">about</a>
    <!-- <nav class="usernav"> -->
      {% if user.is_authenticated %}
      <a href="{% url 'switchboard' %}">switchboard</a>
        <div>
          <a href="{% url 'journal' pk=user.pk %}">journal</a>
        </div>
      <a href="{% url 'newentry' %}">new entry</a>
      {% endif %}
    </nav>
    <nav class="loginlinks">
    {% if not user.is_authenticated %}
      <a href="{% url 'login' %}">login</a>
      <a href="{% url 'signup' %}">sign up</a>
    {% endif %}
    {% if user.is_authenticated %}
      <div class="login-form">
        <a href="{% url 'logout' %}">logout</a>
      </div>
    {% endif %}
  </nav>
</nav>
  <div container="frontpagewelcome">
    {% if user.is_authenticated %}
            welcome home {{ user.username }}
        {% endif %}
    </div>
  	{% if not user.is_authenticated %}
  			<p>
  				create an account or sign in to enter the asylum
  			</p>
  	{% endif %}

    {% block content %}

    {% endblock %}
</div>
  <footer class="footer"> 2018 // teri london // all the love in the world</footer>
  </body>
</html>
