{% extends 'newmelo_app/hq.html' %}

{% block content %}

  <span class="journalheader"><h1>{{user.username}}'s journal</h1></span>

<div class="userjournal">
<div class="userprofile">
  <div class="profiletitle">{{user.username}}</div>
  <div class="profileinfo">
    <ul>name: teri</ul>
    <ul>quote: give me one firm spot on which to stand and i will move the earth</ul>
    <ul>birthday: 04/24/86</ul>
    <ul>disposition: exhausted and accomplished</ul>
    <ul>location: sf</ul>
  </div>
</div>

  <div class="journalentrycontainer">
    <h2>entries</h2>
  <ul>
  {% for entry in entries %}
  {% if user == entry.user %}
  <ul>
    <div class="entrytitle">
    <h4><a href="{% url 'entrydetail' pk=entry.pk %}">{{entry.title}}</a></h4></div>
    <div class="entrybody">
    {{entry.body}}
  </div>
  </ul>
  {% endif %}
  {% endfor %}
</ul>
</div>
</div>
</div>

{% endblock %}
