{% extends 'newmelo_app/hq.html' %}

{% block content %}

here i will put journal user feeds and all of the nav options for new entry, edit entry, edit profile.
<div class="allentrycontainer">
  <h1>all entries</h1>
  <ul>

  {% for entry in entries %}
  <li>
    <a href="{% url 'entrydetail' pk=entry.pk %}">{{entry.title}}</a>: <a href="{% url 'entrydetail' pk=entry.pk %}">{{entry.user}}</a>
  </li>

  {% endfor %}
</ul>
<div class="myentrycontainer">
  <h1>my entries</h1>
  <ul>

  {% for entry in entries %}
  {% if user == entry.user %}
  <li>
    <a href="{% url 'entrydetail' pk=entry.pk %}">{{entry.title}}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

{% endblock %}
